<div class="modal fade" id="addedToCart" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center text-primary mb-0">已加入購物車</h5>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addedToFav" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center text-primary mb-0">已加入我的收藏</h5>
      </div>
    </div>
  </div>
</div>