<nav class="navbar navbar-dark bg-primary navbar-expand-lg justify-content-between">
  <div class="container">
    <h2 class="logo-white"><a href="index.html">d'Perfume</a></h2>
    <div class="nav-text ml-3 text-light">© 2020. All Rights Reserved.</div>
    <ul class="navbar-nav flex-row ml-auto text-light">
      <li class="nav-item">
        <a href="products.html" class="nav-link">
          Product
        </a>
      </li>
      <li class="nav-item">
        <a href="blog.html" class="nav-link">
          Blog
        </a>
      </li>
      <li class="nav-item">
        <a href="contact.html" class="nav-link">
          Contact
        </a></li>
    </ul>
  </div>
</nav>