<!-- Header -->
<nav class="navbar navbar-light navbar-expand-lg justify-content-between">
  <div class="container d-flex justify-content-between">

    <h1 class="logo-"><a href="index.html">d'Perfume</a></h1>

    <!-- nav bar for PC screen -->
    <div class="d-md-block d-none">
      <ul class="navbar-nav flex-row">
        <li class="nav-item align-icons">
           <a href="products.html" class="nav-link">
             <span class="material-icons">store</span>Products
           </a>
         </li>
         <li class="nav-item align-icons">
           <a href="login.html" class="nav-link">
             <span class="material-icons">person</span>Log in
           </a>
         </li>
         <li class="nav-item align-icons">
           <a href="wishlist.html" class="nav-link">
             <span class="material-icons">favorite</span>Wishlist
           </a></li>
         <li class="nav-item align-icons">
           <a href="cart.html" class="nav-link">
             <span class="material-icons">shopping_cart</span>Cart(3)
           </a>
         </li>
       </ul>
    </div>
    
    <div class="d-md-none d-block">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a href="#" class="nav-link p-2"><span class="material-icons">shopping_cart</span></a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link p-2" data-toggle="dropdown">
            <span class="material-icons">menu</span>
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Product</a>
            <a href="#" class="dropdown-item">Wishlist</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>