<% 
  prefix = "https://hexschool.github.io/webLayoutTraining1st/perfume-week6/";
  images = [
    "product1.jpg",
    "product2.jpg",
    "product3.jpg",
    "products4.jpg",
    "products5.jpg",
    "products1.jpg",
    "products7.jpg",
    "products8.jpg",
    "products10.jpg",
    "products11.jpg",
    "products12.jpg",
    "products3.jpg",
  ];
 %> 


<div class="container section-lg">
  <ul class="row list-unstyled list-mb" data-aos="fade-up" >
  <% for (var i = 0; i < images.length; i++) { %> 
    <li class="col-md-3 col-6">
      <div class="pic-sqrt-container"><a href="product-detail.html"><img src="<%- prefix + images[i] -%>" alt="product 1"></a></div>
      <h4 class="mb-0">Poppy & Barley</h4>
      <p class="mb-0">Jo Malone</p>
      <p class="mb-0">NT&#36;1,380  <span class="old-price">NT&#36;1,580</span></p>
      <div class="text-primary">
        <a href="#" data-toggle="modal" data-target="#addedToFav"><span class="material-icons text-primary">favorite</span></a>
        <a href="#" data-toggle="modal" data-target="#addedToCart"><span class="material-icons text-primary">shopping_cart</span></a>
      </div>
    </li>
  <% } %> 
  </ul>

  <ul class="pagination justify-content-center">
    <li class="page-item active"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
  </ul>
</div>