<div class="banner-subscribe">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-12">

        <h3>記得<br>訂閱以獲取更多資訊！</h3>
        <form class="input-group" action="#" method="post">
          <input type="text" class="form-control" name="email" id="subEmail" placeholder="Your email address">
          <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="Subscribe"></button>
          </div>
        </form>

      </div>
    </div>
    
  </div>
</div>