/* base */
img {
    display: block;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// BS themes
.nav-link.active {
    color: $primary;
    text-decoration: underline;
}

// other effects
a img {
    &:hover {
        opacity: 0.7;
    }
}

.old-price {
    text-decoration: line-through;
    color: $gray-text;
}
