/* base */
img {
    display: block;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// BS themes
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link.active {
    color: $primary;
    text-decoration: underline;
}

.form-control[readonly] {
    background: none;
    border: none;
    color: $secondary;
}

.custom-select, .form-control {
    color: $secondary;
}

// other effects
a img {
    &:hover {
        opacity: 0.7;
    }
}

.old-price {
    text-decoration: line-through;
    color: $gray-text;
}

.description {
    position: absolute;
    right: 0;
}
