// ------ logo -----
.logo a{
    background: url($img-src-prefix + "d’Perfume.png");
    display: block;
    // logo img size
    width: 128px;
    height: 38px;
    @include hideText;
}

.logo-lg a{
    background: url($img-src-prefix + "d’Perfume@2x.png");
    display: block;
    // logo img size
    width: 256px;
    height: 76px;
    @include hideText;
}

.logo-white a{
    background: url($img-src-prefix + "d’Perfumewhite.png");
    display: block;
    // logo img size
    width: 128px;
    height: 38px;
    @include hideText;
}

.logo-white-lg a{
    background: url($img-src-prefix + "d’Perfumewhite@2x.png");
    display: block;
    // logo img size
    width: 256px;
    height: 76px;
    @include hideText;
}

// ----- banner ------
.banner {
    background: center / cover no-repeat url($img-src-prefix + "index1.jpg");
    height: calc(100vh - #{$header-height});
    @include phone {
        height: 480px;
    }
}

.banner-subscribe {
    background: center / cover no-repeat url($img-src-prefix + "index10.jpg");
    height: 600px;
    padding-top: 312px;
}

// ----- picture containers -----
.pic-sqrt-container{
    @include centered-ratio(1, 1);
    overflow: hidden;
    img {
        position: absolute;
        left:0;
        top:0;
        @include img-cover;
    }
}

.pic-product-container {
    @include centered-ratio(35, 54);
    overflow: hidden;
    img {
        position: absolute;
        left: 0;
        top: 0;
        @include img-cover;
    }

    @include phone {
        @include centered-ratio(1, 1);
    }
}

$pic-sizes: (
    220,
    460,
    520,
);

@each $h in $pic-sizes {
    .pic-height-md-#{$h} {
        width: 100%;
        height: #{$h}px;
        object-fit: cover;
    }

    @include phone {
        .pic-height-#{$h} {
            width: 100%;
            height: #{$h}px;
            object-fit: cover;
        }
    }
}

.pic-cover {
    @include img-cover;
}

.pic-soldout {
    @include withOverlay(0.3);
    &:after {
        content: "Sold out";
        text-align: center;
        color: white;
        font-size: 24px;
        line-height: 24px;
        padding-top: 48%;
    }
}

// ----- container -----
$sections: (
    "-sm": 40px,
    "": 60px,
    "-lg": 80px,
);

$sections-sm: (
    "-sm": 32px,
    "": 40px,
    "-lg": 30px,
);

@each $name, $val in $sections {
    .section#{$name} {
        padding-top: $val;
        padding-bottom: $val;
    }
}


@each $name, $val in $sections-sm {
    @include phone {
        .section#{$name} {
            padding-top: $val;
            padding-bottom: $val;
        }
    }
}

.center-sqrt-container {
    @include centered-ratio(1, 1);
}

// ----- customized lists -----

.list-mb {
    @include list-gap(58px);
    @include phone {
        @include list-gap(30px);
    }
}

.list-mb-sm {
    @include list-gap(30px);
    @include phone {
        @include list-gap(16px);
    }
}
