@mixin nav($gap: 0) {
    display: flex;
    li {
        a {
            display: block; // Essencial. or padding will fail.
            padding-right: $gap;
        }
        &:last-child a{
            padding-right: 0;
        }
    }
}

@mixin list-w-divider($pad) {
    &>li {
        padding-bottom: $pad;
        border-bottom: 1px solid $primary-border-color;
        margin-bottom: $pad;

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}

@mixin list-gap($gap: 0) {
    li {
        margin-bottom: $gap;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin sqrt($width) {
    display: inline-block;
    width: $width;
    height: $width;
    border-radius: 4px; 
    margin-right: 8px;
}

@mixin wrap-n-column-old($n, $gap, $total: 1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    $ratio: ($total - ($n - 1) * $gap) / ($n * $total); 
    $width : unquote( $ratio * 100 + '%' );
    &>li {
        width: $width;
    }
}

@mixin wrap-n-column($n, $gap, $total: 1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    $ratio: ($total - $n * $gap) / ($n * $total); 
    $width : unquote( $ratio * 100 + '%' );
    &>li {
        @if $n == 1 {
            width: 100%;
            margin-right: 0;
        } @else {
            width: $width;
            margin-right: unquote($gap + 'px');
        }
    }
}

@mixin img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin img-sqrt($size) {
    object-fit: cover;
    width: $size;
    height: $size;
}

@mixin img-circle($size) {
    @include img-cover;
    border-radius: 50%;
}

@mixin withOverlay($opacity) {
    &:after {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* defaut: black */
        background: rgba(0, 0, 0, $opacity);
        z-index: 10;
    }
}

@mixin centered-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@mixin hideText {
    padding-left: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin hoverOpacity {
    &:hover {
        opacity: 0.7;
    }
}

@mixin setFontSize($fz-base) {
    font-size: $fz-base;
    @include pad {
        font-size: $fz-base * 0.75;
    }
    @include phone {
        font-size: $fz-base * 0.5;
    }
}

// ----- RWD -----
@mixin pad{
    @media screen and (max-width:992px) {
        @content
    }
}

@mixin phone{
    @media screen and (max-width:768px) {
        @content
    }
}
