$font-family-base: -apple-system, BlinkMacSystemFont, "PingFang TC", Arial, sans-serif;

// ============================================
// Colors
// ============================================
$black:           #121212;
$gold:            #916000;

// ============================================
// Font sizes 
// ============================================
$font-size-base: 1rem; //16px

$font-size-sm: $font-size-base * 0.875; //14px

$h1-font-size: $font-size-base * 1.5; //24px
$h2-font-size: $font-size-base * 1.5; //24px
$h3-font-size: $font-size-base * 1.25; //20px
$h4-font-size: $font-size-base * 1.125; //8px
$h5-font-size: $font-size-base; //16px
$h6-font-size: $font-size-base; //16px

$line-height-base: 1.5;
$line-height-heading: 1.2;

// ============================================
// Other variables 
// ============================================
$img-src-prefix: "https://hexschool.github.io/webLayoutTraining1st/perfume-week6/";
$header-height: 56px;



// ============================================
// Overrides Bootstrap 
// ============================================

// Theme Color
$primary:                       $gold;
$secondary:                    #E0E0E0;

// Links
$link-color:                    $black;
$link-hover-color:              $primary;
$link-hover-decoration:         none;

// Font sizes
$h2-font-size:                  $font-size-base * 2.25; //36px
$h3-font-size:                  $font-size-base * 2; //32px
$h4-font-size:                  $font-size-base * 1.5;

// Padding
$headings-margin-bottom:        16px;

$input-btn-padding-x:           1rem;
$input-btn-padding-y:           .5rem;

// Navbars
$navbar-dark-brand-color:       #fff; 
$navbar-dark-color:             #fff; 