$font-family-base: custom-font, -apple-system, BlinkMacSystemFont, "PingFang TC", Arial, sans-serif;

// ============================================
// Colors
// ============================================
$black:           #121212;
$gold:            #916000;
$gray-bg:         #707070;
$gray-text:       #8D8D8D;

// ============================================
// Overrides Bootstrap 
// ============================================

// Theme Color
$primary:                       $gold;
$secondary:                     $gray-text;
$light:                         #E0E0E0;

// Links
$link-color:                    $black;
$link-hover-color:              $primary;
$link-hover-decoration:         none;

// Font sizes
$font-size-base:                1rem;
$h2-font-size:                  $font-size-base * 2; //32px
$h3-font-size:                  $font-size-base * 2; //32px
$h4-font-size:                  $font-size-base * 1.5; //24px
$font-size-sm:                  $font-size-base * 0.875; //14px

// Padding
$headings-margin-bottom:        1rem;
$input-btn-font-size-lg:        1rem;
$input-btn-padding-y-lg:        1rem;
$input-btn-padding-x-lg:        1.5rem;
$navbar-padding-x:              15px;

// Navbars
$navbar-dark-brand-color:       #fff; 
$navbar-dark-color:             #fff; 

// ============================================
// Other variables 
// ============================================
$logo-width: 128px;
$logo-height: 38px;
$img-src-prefix: "https://hexschool.github.io/webLayoutTraining1st/perfume-week6/";
$header-height: $navbar-padding-x * 2 + $logo-height;

